---
import Navbar from '../components/Navbar.astro';
import EnvironmentHelper from '../helpers/EnvironmentHelper';
import Layout from '../layouts/Layout.astro';
import { Page } from '../types/pages';
import type { HomeResponse } from '../types/responses/home';

const response = await fetch(`${EnvironmentHelper.getFetchBaseURL()}${Page.HOME}`);
const json: HomeResponse = await response.json();

---

<Layout title="Welcome to the Kirby Astro Template">
	<main>
		<Navbar headerData={json.header} />

		<h1>Welcome to the KirbyCMS Astro Template 👋</h1>
		<p class="instructions">
			To get started, generate your pages inside <code>frontend/src/pages</code> and reference them to your created blueprints (<code>cms/site/blueprints/pages</code>) and templates <code>cms/site/templates/</code> as it was done with this page.
			Check the <strong>README</strong> if you are curious on how KirbyCMS and Astro communicate with each other.
		</p>

		<h2>{json.page.headline.value}</h2>
		<p class="instructions">
			{json.page.text.value}
		</p>
	</main>
</Layout>

<style>
	* {
		font-family: 'Montserrat';
	}

	main {
		margin: auto;
		padding: 2rem 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	h2 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--primary-color_rgb), 25%);
		padding: 1.5rem;
		border-radius: 8px;
	}

	code {
		font-family: monospace;
    	font-size: 1rem;
	}
</style>
